header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: "Segoe UI", Tahoma, sans-serif;
  height: 60px;
  background: rgba(255, 255, 255, 0.004);
  backdrop-filter: blur(9px);
  opacity: 1 !important;
  z-index: 100000;
}
.logo img {
  width: 40px;
}
.logo {
  font-family: "Courier New", Courier, monospace;
  padding: 20px 20px;
  gap: 5px;
}
nav {
  padding: 20px 20px;
  transition: all .5s ease;
  display: flex;
  gap: 40px;
  user-select: none;
}
.links {
  color: white;
  text-decoration: none;
  transition: all .3s ease;
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .menu {
    cursor: pointer;
    display: block !important;
  }
}
.menu {
  display: none;
  padding: 10px;
  cursor: pointer;
}
.links.active {
  border-top: 1px solid white;
  font-weight: bolder;
  transition: all .3s ease;
  border-image: url("");
}
